@model IEnumerable<Desafio.Consumer.Models.Dtos.StockOperation>

@{
    ViewData["Title"] = "Stock Operations";
}

<h1>Stock Operations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationAmount)
            </td>
        </tr>
}
    </tbody>
</table>
<p>@Html.ActionLink("Go back", "Get", new { ViewBag.id })</p>
